<style type = 'text/css'>
#wrapper {
    width: 90%;
    max-width: 1100px;
    min-width: 800px;
    margin: 50px auto;
}

#columns {
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 4;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    width: 100%;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.event-card{
    padding:15px;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    /*border-radius:5px;*/
}
.admin-card{
    padding: 10px;
    border: 1px solid rgb(204, 234, 202);
    background-color: rgb(230, 251, 231);
    clear:both;
    margin:5px;
}
.respond-div{
    padding: 10px;
    border: 1px solid rgb(204, 234, 202);
    background-color: rgb(230, 251, 231);
}
.event-photo{
    height:150px;
}
.response-link{
    margin:2px;
}
.photos-div{
    margin-top:10px;
}
.admin-btn{
    padding:10px;
}
.attending-div{
     /*-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);*/
     padding:15px;
}
.attending-event-div{
    margin-top:10px;
}
</style>
<div class="row">
<div class = 'col-md-1'>
</div>
<div class = 'col-md-1'>
<h1> Brags </h1>
</div>
<div class = 'col-md-9'>
<% if @is_admin %>
<div id = 'admin-btns' class = 'pull-right'>
    <%= link_to "Add Brag", new_brag_path, class: 'btn btn-default admin-btn' %>
    <%= link_to "Admin Panel", brags_admin_path, class: 'btn btn-default admin-btn' %>
</div>
</div>
</div>
<% end %>


<div id="wrapper">
<div id="columns">


    <% @brags.each do |brag| %>
    <!-- *******************FIX CLASS******************* -->
    <div class = 'pin'>

        <% if @is_admin %>
            <div class = 'admin-card pull-right'>
                <%= link_to 'Edit', edit_brag_path(:id => brag.id) %>
                 <%= link_to 'Delete', delete_brag_path(:id => brag.id), id: "delete-brag-#{brag.id}" %>
            </div>
        <% end %>
        <div>
            <h3 id = 'h3-<%= brag.id %>'><%= link_to brag.title, brag_path(:id => brag.id) %></h3>
        </div>
        <div>
            Subject: <%= brag.subject %>
        </div>
        
            <% if @photos[brag.id] %>
            <% @photos[brag.id].each do |photo| %>
            <img src = '<%= photo.url %>'>
            <% end %>
            <% end %>

        <div>
            <%= brag.body %>
        </div>
        <div>
            Written by: <%= brag.author %>
        </div>



        
    </div>
    <% end %>
</div>
</div>