<style type = 'text/css'>

.event-card{
    padding:15px;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    /*border-radius:5px;*/
}
.admin-card{
    padding: 10px;
    border: 1px solid rgb(204, 234, 202);
    background-color: rgb(230, 251, 231);
    clear:both;
    margin:5px;
}
.respond-div{
    padding: 10px;
    border: 1px solid rgb(204, 234, 202);
    background-color: rgb(230, 251, 231);
}
.event-photo{
    height:150px;
}
.response-link{
    margin:2px;
}
.photos-div{
    margin-top:10px;
}
.admin-btn{
    padding:10px;
}
</style>
<div class = 'col-md-3'>
</div>
<div class = 'col-md-6'>
<% if @is_admin %>
<div id = 'admin-btns' class = 'pull-right'>
    <%= link_to "Add Event", new_event_path, class: 'btn btn-default admin-btn' %>
    <%= link_to "Admin Panel", events_admin_path, class: 'btn btn-default admin-btn' %>
</div>
<% end %>

<h1>Events</h1>


    <% @events.each do |event| %>
    <div class = 'event-card'>
        <% if @responded_ids.include?(event.id.to_s) %>
            <div class = 'respond-div pull-right'>
                You responded: <%= @responses[event.id.to_s].response %>
                <div>
                    <%= link_to "Undo", delete_event_response_path(:id => @responses[event.id.to_s].id), id: "undo-#{@responses[event.id.to_s].id}" %>
                </div>
            </div>
        <% else %>
            <div class = 'respond-div pull-right' data-id = '<%= event.id %>'>
                <%= link_to 'Going', respond_to_event_path(:id => event.id, :response => 'Going'), id: "going-#{event.id}", class: 'response-link' %>
                 <%= link_to 'Interested', respond_to_event_path(:id => event.id, :response => 'Interested'), id: "interested-#{event.id}", class: 'response-link' %>
                  <%= link_to 'Not Going', respond_to_event_path(:id => event.id, :response => 'Not Going'), id: "not-going-#{event.id}", class: 'response-link' %>
            </div>
        <% end %>

        <% if @is_admin %>
            <div class = 'admin-card pull-right'>
                <%= link_to 'Edit', edit_event_path(:id => event.id) %>
                 <%= link_to 'Delete', delete_event_path(:id => event.id) %>
            </div>
        <% end %>
        <div>
            <h3 id = 'h3-<%= event.id %>'><%= link_to event.title, event_path(:id => event.id) %></h3>
        </div>
        <div>
            <%= event.description %>
        </div>
        <div>
            Time: <%= event.time %>
        </div>
        <div>
            Organizer: <%= event.organizer %>
        </div>
        <% if event.location %>
            <div>
                Location: <%= event.location %>
            </div>
        <% end %>
        <div class = 'photos-div'>
            <% if @photos[event.id] %>
            <% @photos[event.id].each do |photo| %>
            <img src = '<%= photo.url %>' class = 'event-photo'>
            <% end %>
            <% end %>
        </div>


        
    </div>
    <% end %>
</div>
<div class = 'col-md-3'></div>

