<h3><%= @event.title %></h3>
<div>Description: <%= @event.description %></div>
<div>Organizer: <%= @event.organizer %></div>

<div>Time: <%= @event.time %></div>
<div>
	<h3>Location</h3>
	<div><%= @event.location %></div>
	<img src = 'https://www.google.com/maps/vt/data=RfCSdfNZ0LFPrHSm0ublXdzhdrDFhtmHhN1u-gM,oyDa8oOD4P2uyBgWNlgXKmKfFARIZ2AzlNHrkR-s7hrDJ0jPucpdMMs_m6BwVcFloRugcBZRVbBojSVjqYjJE31oE3ZyhZnY2NADEqSrQOv_VUqdYuR5n-kkBeiUrfWKT639Z95eE14_BTNOEfASIPjj9EK3AAaFI8ybNvGEze57FZvsGtL3Dy55Ew47zXIncnGhgXCXBx9mPgk' style = 'width:100%'>
	<%= @event.location %>
</div>


<div class = 'meta-div'>
	<div class = 'btn btn-default'>Going</div>
	<div class = 'btn btn-default'>Interested</div>
	<div class = 'btn btn-default'>Not Going</div>	
</div>