<head>
  <title>BHGH</title>
  <script src = 'https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.js'></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <link rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <script src = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
  
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script> -->

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>



  <link rel="icon" 
      type="image/png" 
      href="/logo.png">


 <link href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css' rel = 'stylesheet'>
</head>

<script src = '/lib/underscore-min.js'></script>
<script type = 'text/javascript'>
	var events = <%= raw(@events) %>;
	var brags = <%= raw(@brags) %>;
	var posts = <%= raw(@posts) %>;
  var has_errors = <%= !@error_type.nil? %>;
  var errors = <%= raw(@errors) %>;
  var params = <%= raw(@params) %>;
  var error_type = '<%= @error_type %>';
</script>
<script src = '/lib/angular.min.js'></script>
<script src = '/lib/angular-route.min.js'></script>

<script src = '/app.js'></script>
<script src = '/controllers/boardCtrl.js'></script>
<div ng-app = 'boardApp' id = 'main-row'>


<div ng-controller = 'BoardCtrl'>



<div class = 'jumbotron row' id = 'top-jumbotron'>
  <div class = 'col-md-4'></div>
  <div class = 'col-md-4'>
    <img src = '/logo.png'>
  	<div class = 'centered'>
  	 <input id = 'search-input' class = 'form-control' placeholder = 'SEARCH' ng-model = 'searchTerm'>
    </div>
  </div>
  <div class = 'col-md-4'>

  </div>

</div>


<div class = 'col-md-4'>
  <h1>Events</h1>
  <div ng-repeat = 'event in events | filter:searchTerm' class = 'board-card event-card' ng-click = 'showEventModal(event)'>
        <div class = 'pull-right'>
        <img src = '{{event.gravatar}}' class = 'gravatar'>
      </div>
      <h3>{{event.title}}</h3>
      <p>{{event.description}}</p>
      <div>{{event.time_string}}</div>
      <div>Organizer: {{event.organizer}}</div>
      <div>Location: 
        <a href = 'https://www.google.com/maps/place/{{event.location}}'>{{event.location}}
        </a>
      </div>

      <div ng-show = 'event.response'>You are {{event.response}}</div>
      <div ng-show = 'event.photo_url'>
        <img src = '{{event.photo_url}}' class = 'event-photo'>
      </div>
</div>
</div>

<div class = 'col-md-4'>
  <h1>Brags</h1>
<div ng-repeat = 'brag in brags | filter:searchTerm' class = 'board-card brag-card' ng-click = 'showBragModal(brag)'>

  <div class = 'row brag-img-div' ng-show = 'brag.photo_url != ""'>
    <img  src = '{{brag.photo_url}}' style = 'width:100%'>
  </div>

  <div class = 'pull-right'>
    <img src = '{{brag.gravatar}}' class = 'gravatar'>
  </div>
  <h3>{{brag.title}}</h3>
  <div class = 'brag-body'>{{brag.body}}</div>
  <div>Subject: {{brag.subject}}</div>
  <div>Author: {{brag.author}}</div>
  <div ng-show = 'brag.liked' class = 'pull-right'>
  	Liked
  </div>
</div>
</div>

<div class = 'col-md-4'>
  <h1>Forum</h1>
<div ng-repeat = 'post in posts | filter:searchTerm' class = 'board-card post-card' ng-click = 'showPostModal(post)'>
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
  {{post.comments.length}} responses
</div>
</div>


<%= render 'forum/add_post_modal' %>
<%= render 'events/add_event_modal' %>
<%= render 'brags/add_brag_modal' %>
<%= render 'events/event_modal' %>
<%= render 'brags/brag_modal' %>
<%= render 'forum/post_modal' %>
<div class = 'affix' id = 'btns-container'>
	<button class = 'btn btn-danger round-btn' ng-click = 'showAddEvent()'>+ Event</button>
	<button class = 'btn btn-danger round-btn' ng-click = 'showAddBrag()'>+ Brag</button>
	<button class = 'btn btn-danger round-btn' ng-click = 'showAddPost()'>+ Post</button>

</div>

</div><!--end of board ctrl-->
</div>


